.footer {
    margin-top: 120px;
}

.contact {
    background-color: #F0F0F0;
    position: relative;
    height: 180px;

}

.contact-wrapper {
    position: absolute;
    left: 50%;
    max-width: 1240px;
    width: 90%;
    background-color: #000;
    margin: 0 auto;
    border-radius: 20px;
    padding: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: -30%;
    transform: translate(-50%);
}


.contact-status {
    width: 490px;
}

.contact-status span {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.contact-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 14px;
}

.email-input {
    background-color: white;
    border-radius: 60px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input input{
    outline: none;
    border: none;
    margin-left: 8px;
    font-size: 16px;
    opacity: .6;
    flex: 1;
}

.contact-form button{
    height: 40px;
    border: none;
    border-radius: 60px;
    background-color: #fff;
    font-size: 16px;
}

.contact-form button:hover {
    cursor: pointer;
    opacity: .8;
}

.about-wrapper {
    background-color: #F0F0F0;

}

.abouts{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;

}

.sub-abouts {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px 16px;
}

.sub-abouts > .about{
    width: fit-content;
}

.about {
    width: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-title {

}

.about-title span {
    font-size: 16px;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.about-content span{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 100;
}

.ic-contact {
    margin-top: 16px;
}

.ic-contact img {
    margin-left: 8px;
}

.payment {
    padding-top: 24px;
    border-top: .5px solid;
    padding-bottom: 48px;
    max-width: 1240px;
    margin: 48px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.payment span {
    font-size: 14px;
}

@media (max-width: 1050px) {
    .contact {
        height: 340px;
    }

    .contact-status{
        width: 100%;
    }

    .contact-form {
        width: 100%;
        margin-top: 16px;
    }

    .email-input {
        width: 100%;
        flex: 1;
    }

    .contact-form button {
        width: 100%;
    }

    .abouts {
        width: 96%;
    }

    .abouts > .about {
        width: 100%;
    }

    .sub-abouts {
        grid-template-columns: repeat(2,1fr );
    }

    .payment {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .payment-method {
        margin-top: 8px;
    }
}